name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: run ci checks
      run: |
         make test
    - name: Build the Docker image
      run: docker build . -t druidio/druid-operator:$(date +%s)
